@model BTLNhom3.Models.Quanlyncc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quanlyncc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenncc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenncc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sodienthoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sodienthoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mancc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
