@model BTLNhom3.Models.Quanlydonhang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quanlydonhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaylamnv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaylamnv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quanlysanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quanlysanpham.Masanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quanlykhachhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quanlykhachhang.Makhachhang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Madonhang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
