@model IEnumerable<BTLNhom3.Models.Quanlydonhang>

@{
    ViewData["Title"] = "Index";
}

<h1>Đơn hàng</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Madonhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaylamnv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanlysanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanlykhachhang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Madonhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaylamnv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanlysanpham.Masanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanlykhachhang.Makhachhang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madonhang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madonhang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madonhang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
