@model BTLNhom3.Models.Quanlysanpham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quanlysanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mausac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mausac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.giatien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.giatien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Masanpham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
