@model IEnumerable<BTLNhom3.Models.Quanlysanpham>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh mục sản phẩm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Upload">Upload New</a>
    </p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Masanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tensanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mausac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giatien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                 @Html.DisplayFor(modelItem => item.Masanpham)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Tensanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mausac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giatien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Masanpham">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Masanpham">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Masanpham">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
