@model IEnumerable<BTL_Nhom3.Models.Quanlidonhang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanlisanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanlikhachhang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanlisanpham.Masanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanlikhachhang.Makhachhang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madonhang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madonhang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madonhang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
